<div class="row single">
    <hr>

    <div class="large-7 columns">
        <img src="{Images[0].url_570xN}">
    </div>
    <div class="large-5 columns">
        <h4>{title}</h4>
        <p id="description">{description}</p>

        <div class="panel">
            <h5>Price</h5>
            <h6 class="subheader">{price}</h6>
            <a href="#" class="small button">Add to Cart</a>
        </div>

    </div>
</div>

<div id="shop" class="row single">
    <hr/>
    <div class="large-6 columns">
        <h4>{Shop.shop_name}</h4>
        <p>{Shop.announcement}</p>
    </div>
</div>

<div class="row single">
    <hr>
    <div class="large-12 columns">
        <h4>You might also like:</h4>
        <img src="http://placehold.it/200x150&text=[img]">
        <img src="http://placehold.it/200x150&text=[img]">
        <img src="http://placehold.it/200x150&text=[img]">
        <img src="http://placehold.it/200x150&text=[img]">
    </div>
</div>
